<!DOCTYPE html>
<html>
<head>
  <% include head %>
</head>

<body onload="show();">

  <div class="container">

    <% if (folderName !== null) {%>
    <div class="row" id="homeBreadCrumb" >
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><a href="/folder/<%= folderId %>"><%= folderName %></a></li>
        <li><%= exerciseName %></li>
      </ol>
    </div>
    <% } else { %>
    <div class="row" id="homeBreadCrumb" >
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><%= exerciseName %></li>
      </ol>
    </div>
    <% } %>


    <div class="row">
      <div class="col-md-12">

        <div class="well">
          <p class="lead"><%= exerciseName %></p>

          <table class="table">
            <tr>
              <td>Last Practiced</td>
              <td><%= lastPracticed %></td>
            </tr>
            <tr>
              <td>Notes</td>
              <td><%= notes %></td>
            </tr>
            <tr>
              <td>Total Time Practiced</td>
              <td id="totalTimePracticedText"><%= totalTimePracticed %></td>
            </tr>
          </table>
        </div><!-- end well -->

        
      </div>
    </div> <!-- end row -->

    <hr>
    
    <div class="row top10">

      <div class="col-md-3">
        <p class="lead" id="bpmText">Current BPM <span id="currentBpmVal" class="lead"><%= bpm %></span></p>
      </div>

      <div class="col-md-3">
        <p class="lead">Metronome 
          <button type="button" class="btn btn-default" id="btn-metronome-start">
            <span class="glyphicon glyphicon-play"></span>
          </button>

          <button type="button" class="btn btn-default" id="btn-metronome-stop">
            <span class="glyphicon glyphicon-pause"></span>
          </button>
        </p>
      </div>

      <div class="col-md-3">
        <form class="form-inline" id="bpmInputForm" action="/setExerciseBpm">
          <div class="form-group">
            <label for="setBpm"><p id="exerciseBpmLabel" class="lead">Set BPM</p></label>
            <input type="text" class="form-control" name="setBpm" size="6" maxLength="3" placeholder="Eg. 120" id="inputBpm">
          </div>
          <input type="submit" class="btn btn-primary" style="float: right"></input>
          <input type="hidden" class="form-control" name="exId" value=<%= exerciseId %>>
        </form>
      </div>

    </div> <!-- end row -->

    <hr>

    <div class="row top20">

      <div class="col-md-3">
        <p class="lead">Practice time today</p>
      </div>
      
      <div class="col-md-3">
        <span id="time" class="lead"></span>
        <input type="button" class="btn btn-default" id="exerciseStopwatchStartBtn" value="Start" onclick="start();">
        <input type="button" class="btn btn-default" id="exerciseStopwatchStopBtn" value="Stop" onclick="stop();">
      </div>
    </div>

    <hr>

    <!-- Webcam container -->
    <div id="webcam-container" align="center">
      <p class="lead">Webcam</p>

      <div class="row" id="webcam">
      </div> <!-- end div=row -->
      
      <div class="row">
        <!-- Webcam start button -->
        <button type="button" class="btn btn-default" id="btn-webcam-start">
          <span class="glyphicon glyphicon-play"></span>
        </button>

        <!-- Webcam stop button -->
        <button type="button" class="btn btn-default" id="btn-webcam-stop">
          <span class="glyphicon glyphicon-pause"></span>
        </button>
      </div> <!-- end div=row -->
    </div> <!-- end div=webcam-container  -->

    <hr>

    <div class="row top20">
      <div class="col-md-3">
        <p class="lead">Your past sessions</p>
      </div>

      <div class="col-md-9">
        <ul>
          <% for (var i = history.length - 1; i >= 0; i--) {%>
            <li><%= history[i] %></li>
          <% } %>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row top20">
      <div class="col-md-6" id="exercise-analytics-bpm">
        <p class="lead" align="center">BPM progress</p>
      </div>

      <div class="col-md-6" id="exercise-analytics-time">
        <p class="lead" align="center">Time practiced</p>
      </div>

    </div>

    <hr>

    <div class="row top30" align ="center">
      <div class="col-md-offset-5 col-md-2">
        <button type="button" id="btnExerciseSave" class="btn btn-lg btn-primary btn-block">Save Progress</button>
      </div>
    </div>

  </div> <!-- end container -->

  <% include scripts-ext %>
  <script src="/javascripts/d3/d3.min.js"></script>
  <script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script language="JavaScript" src="/javascripts/scriptcam/scriptcam.js"></script>
  <script type="text/javascript" src="/javascripts/webcam.js"></script>

  <script type="text/javascript"> 
    $( "#btnExerciseSave" ).click(function(event) {
        var timePracticed = $("#time").text();
        var url = "/saveExerciseInfo";
        var exerciseId = $("#bpmInputForm").find("input[name='exId']").val();
     
        var folderIdString = <%- JSON.stringify(folderId) %>;


        if (typeof folderIdString === 'undefined') {
          folderIdString = "root"
        }
        else {
          folderIdString = <%- JSON.stringify(folderId) %>;
        }

        var oldBpm = <%- JSON.stringify(bpm) %>;
        var newBpm = $("#currentBpmVal").text();

        var posting = $.post(url, { 
            timePracticed: timePracticed,
            exerciseId: exerciseId,
            folderId: folderIdString,
            oldBpm: oldBpm,
            newBpm: newBpm
        });

        posting.done(function( data ) {
            $("#totalTimePracticedText").text(data);
            stop();
            reset();
            alert("Saved exercise state.");
        });
    });
  </script>

  <!-- D3 visualization - Exercise Analytics -->

  <script type="text/javascript">
    
    //Width and height

    var w = 400;
    var h = 250;
    var textPadding = Math.round(h / 10);
    var barPadding = 1;
    
    var datasetBpm = [];
    var datasetTime = [];
    var pastWeekHistory = <%- JSON.stringify(lastWeekHistory) %>;

    for (var i = (pastWeekHistory.length - 1); i >= 0; i--) {
      datasetBpm[(pastWeekHistory.length - 1) - i] = parseInt(pastWeekHistory[i].bpm);
      datasetTime[(pastWeekHistory.length - 1) - i] = parseInt(pastWeekHistory[i].time);
    }

    console.log("DATASET BPM: %s", datasetBpm.toString());
    console.log("DATASET TIME: %s", datasetTime.toString());
    
    // Create the scale to account for relative compression and expansion of bar graph.

    var yScaleTime = d3.scale.linear()
                        .domain([0, d3.max(datasetTime, function(d) {
                          return d;
                        })])
                        .range([0, h - textPadding]);

    var yScaleBpm = d3.scale.linear()
                        .domain([0, d3.max(datasetBpm, function(d) {
                          return d;
                        })])
                        .range([0, h - textPadding]);

    var colorScaleBpm = d3.scale.linear()
                          .domain([0, d3.max(datasetBpm, function(d) {
                            return d;
                          })])
                          .range([50, 200]);

    var colorScaleTime = d3.scale.linear()
                          .domain([0, d3.max(datasetTime, function(d) {
                            return d;
                          })])
                          .range([50, 200]);
                                             
    //Create SVG element

    var svgBpm = d3.select("#exercise-analytics-bpm")
          .append("svg")
          .attr("width", w)
          .attr("height", h);

    var svgTime = d3.select("#exercise-analytics-time")
          .append("svg")
          .attr("width", w)
          .attr("height", h); 

    // SVG for past BPMs

    svgBpm.selectAll("rect")
       .data(datasetBpm)
       .enter()
       .append("rect")
       .attr("x", function(d, i) {
          return i * (w / datasetBpm.length);
       })
       .attr("y", function(d) {
          return h - yScaleBpm(d);
       })
       .attr("width", w / datasetBpm.length - barPadding)
       .attr("height", function(d) {
          return yScaleBpm(d);
       })
       .attr("fill", function(d) {
          return "rgb(0, " + Math.round(colorScaleBpm(d)) + ", " + 150 + ")";
       })
       .style("opacity", 0.85);

    svgBpm.selectAll("text")
       .data(datasetBpm)
       .enter()
       .append("text")
       .text(function(d) {
          return d;
       })
       .attr("text-anchor", "middle")
       .attr("x", function(d, i) {
          return i * (w / datasetBpm.length) + (w / datasetBpm.length - barPadding) / 2;
       })
       .attr("y", function(d) {
          // If we use textPadding here instead of a smaller value like textPadding/2,
          // the text for the max value will get clipped.
          return (h - yScaleBpm(d) - (textPadding / 2));
       })
       .attr("font-family", "sans-serif")
       .attr("font-size", "11px")
       .attr("fill", "black");

    // SVG for time practiced

    svgTime.selectAll("rect")
       .data(datasetTime)
       .enter()
       .append("rect")
       .attr("x", function(d, i) {
          console.log("OK D: %s", d);
          return i * (w / datasetTime.length);
       })
       .attr("y", function(d) {
          return h - yScaleTime(d);
       })
       .attr("width", w / datasetTime.length - barPadding)
       .attr("height", function(d) {
          return yScaleTime(d);
       })
       .attr("fill", function(d) {
          return "rgb(0, " + Math.round(colorScaleTime(d)) + ", " + 150 + ")";
       })
       .style("opacity", 0.85);


    svgTime.selectAll("text")
       .data(datasetTime)
       .enter()
       .append("text")
       .text(function(d) {
          return d;
       })
       .attr("text-anchor", "middle")
       .attr("x", function(d, i) {
          return i * (w / datasetTime.length) + (w / datasetTime.length - barPadding) / 2;
       })
       .attr("y", function(d) {
          // If we use textPadding here instead of a smaller value like textPadding/2,
          // the text for the max value will get clipped.
          return (h - yScaleTime(d) - (textPadding / 2));
       })
       .attr("font-family", "sans-serif")
       .attr("font-size", "11px")
       .attr("fill", "black");

  </script>

  <script src="/javascripts/global.js"></script>
  <script src="/javascripts/metronome.js"></script>
</body>
</html>