<!DOCTYPE html>
<html>
<head>
  <% include head %>
</head>
<body onload="show();">
  <% include scripts-ext %>

  <div class="container">

    <% if (typeof folderName !== 'undefined') {%>
    <div class="row" id="homeBreadCrumb" >
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><a href="/folder/<%= folderId %>"><%= folderName %></a></li>
        <li><%= exerciseName %></li>
      </ol>
    </div>
    <% } else { %>
    <div class="row" id="homeBreadCrumb" >
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><%= exerciseName %></li>
      </ol>
    </div>
    <% } %>

    <div class="row">
      <div class="col-md-4">
        <p>Last Practiced: <%= lastPracticed %></p>
        <p id="bpmText" >Current BPM: <span id="currentBpmVal"><%= bpm %></span></p>

        <form class="form-inline" id="bpmInputForm" action="/setExerciseBpm">
          <div class="form-group">
            <label for="setBpm">Set BPM:</label>
            <input type="text" class="form-control" name="setBpm" placeholder="120" id="inputBpm">
          </div>
          <input type="hidden" class="form-control" name="exId" value=<%= exerciseId %>>
          <input type="submit" class="btn btn-info" style="float: right"></input>
        </form>
      </div>
    </div>

    <div class="row top20">
      <div class="col-md-6">
        <p>Metronome: </p>
        <button type="button" class="btn btn-info" id="btn-metronome-start">
          <span class="glyphicon glyphicon-play"></span>
        </button>

        <button type="button" class="btn btn-info" id="btn-metronome-stop">
          <span class="glyphicon glyphicon-pause"></span>
        </button>
      </div>
    </div>

    <div class="row top20">
      <div class="col-md-6">
        <div>Your practice time today: <span id="time"></span></div>
        <input type="button" class="btn btn-info" value="start" onclick="start();">
        <input type="button" class="btn btn-info" value="stop" onclick="stop();">
        <input type="button" class="btn btn-info" value="reset" onclick="reset()">
      </div>
    </div>


    <div class="row top30">
      <div class="col-md-6">
        <button type="button" id="btnExerciseSave" class="btn btn-primary">Save</button>
      </div>
    </div>

  </div> <!-- end container -->

  <% include scripts-ext %>
  <script src="/javascripts/global.js"></script>
  <script src="/javascripts/metronome.js"></script>
</body>
</html>