<!DOCTYPE html>
<html>
<head>
  <% include head %>
</head>
<body onload="show();">

  <div class="container">

    <% if (folderName !== null) {%>
    <div class="row" id="homeBreadCrumb" >
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><a href="/folder/<%= folderId %>"><%= folderName %></a></li>
        <li><%= exerciseName %></li>
      </ol>
    </div>
    <% } else { %>
    <div class="row" id="homeBreadCrumb" >
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><%= exerciseName %></li>
      </ol>
    </div>
    <% } %>


    <div class="row">
      <div class="col-md-12">

        <div class="well">
          <p class="lead"><%= exerciseName %></p>

          <table class="table">
            <tr>
              <td>Last Practiced</td>
              <td><%= lastPracticed %></td>
            </tr>
            <tr>
              <td>Notes</td>
              <td><%= notes %></td>
            </tr>
            <tr>
              <td>Total Time Practiced</td>
              <td id="totalTimePracticedText"><%= totalTimePracticed %></td>
            </tr>
          </table>
        </div><!-- end well -->

        
      </div>
    </div> <!-- end row -->

    <hr>
    
    <div class="row top10">

      <div class="col-md-3">
        <p class="lead" id="bpmText">Current BPM <span id="currentBpmVal" class="lead"><%= bpm %></span></p>
      </div>

      <div class="col-md-3">
        <p class="lead">Metronome 
          <button type="button" class="btn btn-info" id="btn-metronome-start">
            <span class="glyphicon glyphicon-play"></span>
          </button>

          <button type="button" class="btn btn-info" id="btn-metronome-stop">
            <span class="glyphicon glyphicon-pause"></span>
          </button>
        </p>
      </div>

      <div class="col-md-3">
        <form class="form-inline" id="bpmInputForm" action="/setExerciseBpm">
          <div class="form-group">
            <label for="setBpm"><p id="exerciseBpmLabel" class="lead">Set BPM</p></label>
            <input type="text" class="form-control" name="setBpm" size="6" maxLength="3" placeholder="Eg. 120" id="inputBpm">
          </div>
          <input type="submit" class="btn btn-info" style="float: right"></input>
          <input type="hidden" class="form-control" name="exId" value=<%= exerciseId %>>
        </form>
      </div>

    </div> <!-- end row -->

    <hr>

    <div class="row top20">

      <div class="col-md-3">
        <p class="lead">Practice time today</p>
      </div>
      
      <div class="col-md-3">
        <span id="time" class="lead"></span>
        <input type="button" class="btn btn-info" id="exerciseStopwatchStartBtn" value="Start" onclick="start();">
        <input type="button" class="btn btn-info" id="exerciseStopwatchStopBtn" value="Stop" onclick="stop();">
      </div>
    </div>

    <hr>

    <div class="row top20">
      <div class="col-md-3">
        <p class="lead">Your past sessions</p>
      </div>

      <div class="col-md-9">
        <ul>
          <% for (var i = history.length - 1; i >= 0; i--) {%>
            <li><%= history[i] %></li>
          <% } %>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row top30" align ="center">
      <div class="col-md-offset-5 col-md-2">
        <button type="button" id="btnExerciseSave" class="btn btn-primary btn-block">Save</button>
      </div>
    </div>

  </div> <!-- end container -->

  <% include scripts-ext %>

  <script type="text/javascript"> 
    $( "#btnExerciseSave" ).click(function(event) {
        var timePracticed = $("#time").text();
        var url = "/saveExerciseInfo";
        var exerciseId = $("#bpmInputForm").find("input[name='exId']").val();
     
        var folderIdString = <%- JSON.stringify(folderId) %>;


        if (typeof folderIdString === 'undefined') {
          folderIdString = "root"
        }
        else {
          folderIdString = <%- JSON.stringify(folderId) %>;
        }

        var oldBpm = <%- JSON.stringify(bpm) %>;
        var newBpm = $("#currentBpmVal").text();

        var posting = $.post(url, { 
            timePracticed: timePracticed,
            exerciseId: exerciseId,
            folderId: folderIdString,
            oldBpm: oldBpm,
            newBpm: newBpm
        });

        posting.done(function( data ) {
            $("#totalTimePracticedText").text(data);
            stop();
            reset();
            alert("Saved exercise state.");
        });
    });
  </script>

  <script src="/javascripts/global.js"></script>
  <script src="/javascripts/metronome.js"></script>
</body>
</html>