<!DOCTYPE html>
<html>
<head>
  <% include head %>
</head>

<body onload="show();">

  <div class="container">

    <!-- Display Navigation Breadcrumb -->

    <% if (folderName !== null) {%>
    <div class="row" id="homeBreadCrumb" >
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><a href="/folder/<%= folderId %>"><%= folderName %></a></li>
        <li><%= exerciseName %></li>
      </ol>
    </div>
    <% } else { %>
    <div class="row" id="homeBreadCrumb" >
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><%= exerciseName %></li>
      </ol>
    </div>
    <% } %>

    <!-- Exercise Summary in a bootstrap well -->

    <div class="row">
      <div class="col-md-12">

        <div class="well">
          <p class="lead"><%= exerciseName %></p>

          <table class="table">
            <tr>
              <td>Last Practiced</td>
              <td><%= lastPracticed %></td>
            </tr>
            <tr>
              <td>Notes</td>
              <td><%= notes %></td>
            </tr>
            <tr>
              <td>Total Time Practiced</td>
              <td id="totalTimePracticedText"><%= totalTimePracticed %></td>
            </tr>
          </table>
        </div><!-- end well -->

        
      </div>
    </div> <!-- end row -->

    <hr>
    
    <!-- Current BPM, Set BPM text box and Metronome start/stop buttons -->

    <div class="row top10">

      <div class="col-md-3">
        <p class="lead" id="bpmText">Current BPM <span id="currentBpmVal" class="lead"><%= bpm %></span></p>
      </div>

      <div class="col-md-3">
        <p class="lead">Metronome 
          <button type="button" class="btn btn-default" id="btn-metronome-start">
            <span class="glyphicon glyphicon-play"></span>
          </button>

          <button type="button" class="btn btn-default" id="btn-metronome-stop">
            <span class="glyphicon glyphicon-pause"></span>
          </button>
        </p>
      </div>

      <div class="col-md-3">
        <form class="form-inline" id="bpmInputForm" action="/setExerciseBpm">
          <div class="form-group">
            <label for="setBpm"><p id="exerciseBpmLabel" class="lead">Set BPM</p></label>
            <input type="text" class="form-control" name="setBpm" size="6" maxLength="3" placeholder="Eg. 120" id="inputBpm">
          </div>
          <input type="submit" class="btn btn-primary" style="float: right"></input>
          <input type="hidden" class="form-control" name="exId" value=<%= exerciseId %>>
        </form>
      </div>

    </div> <!-- end row -->

    <hr>

    <!-- Display today's practice time -->

    <div class="row top20">

      <div class="col-md-3">
        <p class="lead">Practice time today</p>
      </div>
      
      <div class="col-md-3">
        <span id="time" class="lead"></span>
        <input type="button" class="btn btn-default" id="exerciseStopwatchStartBtn" value="Start" onclick="start();">
        <input type="button" class="btn btn-default" id="exerciseStopwatchStopBtn" value="Stop" onclick="stop();">
      </div>

      <!-- Webcam container -->
      
      <div class="col-md-6">
        <div id="webcam-container" align="center">
          <p class="lead">Webcam</p>

          <div class="row" id="webcam">
          </div> <!-- end div=row -->
          
          <div class="row">
            <!-- Webcam start button -->
            <button type="button" class="btn btn-default" id="btn-webcam-start">
              <span class="glyphicon glyphicon-play"></span>
            </button>

            <!-- Webcam stop button -->
            <button type="button" class="btn btn-default" id="btn-webcam-stop">
              <span class="glyphicon glyphicon-stop"></span>
            </button>
          </div> <!-- end div=row -->
        </div> <!-- end div=webcam-container  -->
      </div>
    </div>

    <hr>

    <!-- Past Sessions -->

    <div class="row top20">
      <div class="col-md-3">
        <p class="lead">Your past sessions</p>
      </div>

      <div class="col-md-9">
        <ul>
          <% for (var i = history.length - 1; i >= 0; i--) {%>
            <li><%= history[i] %></li>
          <% } %>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row top20">
      <div class="col-md-6" id="exercise-analytics-bpm">
        <p class="lead" align="center">BPM progress</p>
      </div>

      <div class="col-md-6" id="exercise-analytics-time">
        <p class="lead" align="center">Time practiced</p>
      </div>

    </div>

    <hr>

    <!-- Save Progress button -->

    <div class="row top30" align ="center">
      <div class="col-md-offset-5 col-md-2">
        <button type="button" id="btnExerciseSave" class="btn btn-lg btn-primary btn-block">Save Progress</button>
      </div>
    </div>

  </div> <!-- end container -->

  <% include scripts-ext %>
  <script src="/javascripts/d3/d3.min.js"></script>
  <script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script language="JavaScript" src="/javascripts/scriptcam/scriptcam.js"></script>
  <script type="text/javascript" src="/javascripts/webcam.js"></script>

  <script type="text/javascript"> 
    $( "#btnExerciseSave" ).click(function(event) {
        var timePracticed = $("#time").text();
        var url = "/saveExerciseInfo";
        var exerciseId = $("#bpmInputForm").find("input[name='exId']").val();
     
        var folderIdString = <%- JSON.stringify(folderId) %>;


        if (typeof folderIdString === 'undefined') {
          folderIdString = "root"
        }
        else {
          folderIdString = <%- JSON.stringify(folderId) %>;
        }

        var oldBpm = <%- JSON.stringify(bpm) %>;
        var newBpm = $("#currentBpmVal").text();

        var posting = $.post(url, { 
            timePracticed: timePracticed,
            exerciseId: exerciseId,
            folderId: folderIdString,
            oldBpm: oldBpm,
            newBpm: newBpm
        });

        posting.done(function( data ) {
            $("#totalTimePracticedText").text(data);
            stop();
            reset();
            alert("Saved exercise state.");
        });
    });
  </script>

  <!-- D3 visualization - Exercise Analytics -->

  <script type="text/javascript">
    
    //Width and height of SVG

    var w = 400;
    var h = 250;

    var textPadding = Math.round(h / 10);
    var xAxisTextPadding = Math.round(h / 10);    
    var barPadding = 1;
    
    var dataset = []

    var pastWeekHistory = <%- JSON.stringify(lastWeekHistory) %>;

    for (var i = (pastWeekHistory.length - 1); i >= 0; i--) {
      dataset[(pastWeekHistory.length - 1) - i] = {
        bpm: parseInt(pastWeekHistory[i].bpm),
        time: parseInt(pastWeekHistory[i].time),
        shortDateString: pastWeekHistory[i].shortDateString
      }
    }

    console.log("DATASET: %s", JSON.stringify(dataset));
    
    // Create the scale to account for relative compression and expansion of bar graph.

    var yScaleBpm = d3.scale.linear()
                        .domain([0, d3.max(dataset, function(d) {
                          return d.bpm;
                        })])
                        .range([0, h - (textPadding + xAxisTextPadding)]);

    var yScaleTime = d3.scale.linear()
                        .domain([0, d3.max(dataset, function(d) {
                          return d.time;
                        })])
                        .range([0, h - (textPadding + xAxisTextPadding)]);

    // Color value scale

    var colorScaleBpm = d3.scale.linear()
                          .domain([0, d3.max(dataset, function(d) {
                            return d.bpm;
                          })])
                          .range([50, 200]);

    var colorScaleTime = d3.scale.linear()
                          .domain([0, d3.max(dataset, function(d) {
                            return d.time;
                          })])
                          .range([50, 200]);

    // Color shade scale

    var colorScaleDarkerBpm = d3.scale.linear()
                              .domain([0, d3.max(dataset, function(d) {
                                return d.bpm;
                              })])
                              .range([1, 0.1]);

    var colorScaleDarkerTime = d3.scale.linear()
                              .domain([0, d3.max(dataset, function(d) {
                                return d.time;
                              })])
                              .range([1, 0.1]);
                                             
    //Create SVG element

    var svgBpm = d3.select("#exercise-analytics-bpm")
                    .append("svg")
                    .attr("width", w)
                    .attr("height", h);

    var svgTime = d3.select("#exercise-analytics-time")
                    .append("svg")
                    .attr("width", w)
                    .attr("height", h); 

    // SVG for past BPMs

    svgBpm.selectAll("rect")
      .data(dataset)
      .enter()
      .append("rect")
      .attr("x", function(d, i) {
        return i * (w / dataset.length);
      })
      .attr("y", function(d) {
        return h - (xAxisTextPadding + yScaleBpm(d.bpm));
      })
      .attr("width", w / dataset.length - barPadding)
      .attr("height", function(d) {
        return yScaleBpm(d.bpm);
      })
      .style("fill", function(d){ 
        console.log("For daker. Got d: %s %s", d, colorScaleDarkerBpm(d.bpm));
        return d3.rgb(0, Math.round(colorScaleBpm(d.bpm)), 100).darker( colorScaleDarkerBpm(d.bpm) );
      })
      .style("opacity", 0.75);

    svgBpm.selectAll("text.value")
      .data(dataset)
      .enter()
      .append("text")
      .text(function(d) {
        return d.bpm;
      })
      .attr("text-anchor", "middle")
      .attr("x", function(d, i) {
        return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;
      })
      .attr("y", function(d) {
        return ( h - (xAxisTextPadding + yScaleBpm(d.bpm)) - (textPadding / 2));
      })
      .attr("font-family", "sans-serif")
      .attr("font-size", "11px")
      .attr("fill", "black");

    svgBpm.selectAll("text.day")
       .data(dataset)
       .enter()
       .append("text")
       .text(function(d, i) {
          return d.shortDateString;
       })
       .attr("text-anchor", "middle")
       .attr("x", function(d, i) {
          return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;
       })
       .attr("y", function(d) {
          return ( h - (xAxisTextPadding / 3) );
       })
       .attr("font-family", "sans-serif")
       .attr("font-size", "11px")
       .attr("fill", "black");

    // SVG for time practiced

    svgTime.selectAll("rect")
      .data(dataset)
      .enter()
      .append("rect")
      .attr("x", function(d, i) {
        return i * (w / dataset.length);
      })
      .attr("y", function(d) {
        return h - (xAxisTextPadding + yScaleTime(d.time));
      })
      .attr("width", w / dataset.length - barPadding)
      .attr("height", function(d) {
        return yScaleTime(d.time);
      })
      .style("fill", function(d){ 
        console.log("For daker. Got d: %s %s", d.time, colorScaleDarkerTime(d.time));
        return d3.rgb(0, Math.round(colorScaleTime(d.time)), 100).darker( colorScaleDarkerTime(d.time) );
      })
      .style("opacity", 0.75);


    svgTime.selectAll("text.value")
      .data(dataset)
      .enter()
      .append("text")
      .text(function(d) {
        return d.time;
      })
      .attr("text-anchor", "middle")
      .attr("x", function(d, i) {
        return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;
      })
      .attr("y", function(d) {
        return ( h - (xAxisTextPadding + yScaleTime(d.time)) - (textPadding / 2));
      })
      .attr("font-family", "sans-serif")
      .attr("font-size", "11px")
      .attr("fill", "black");

    svgTime.selectAll("text.day")
       .data(dataset)
       .enter()
       .append("text")
       .text(function(d, i) {
          return d.shortDateString;
       })
       .attr("text-anchor", "middle")
       .attr("x", function(d, i) {
          return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;
       })
       .attr("y", function(d) {
          return ( h - (xAxisTextPadding / 3) );
       })
       .attr("font-family", "sans-serif")
       .attr("font-size", "11px")
       .attr("fill", "black");

  </script>

  <script src="/javascripts/global.js"></script>
  <script src="/javascripts/metronome.js"></script>
</body>
</html>