<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div id="main" class="container">

      <!-- Navigation breadcrumb -->

      <div class="row" id="homeBreadCrumb" >
        <ol class="breadcrumb">
          <li><a href="/home">Home</a></li>
          <li><a href="/folder/<%= folderId %>"><%= folderName %></a></li>
        </ol>
      </div>

      <!-- If we are redirected here with an error message, show it on top -->

      <% if (locals.errorMsg !== 'undefined') {%>
        <p><%= errorMsg %></p>
      <% } %>

      <!-- Display folder summary in a bootstrap 'well' -->
      <div class="row">
        <div class="col-md-12">

          <div class="well">
            <p class="lead"><%= folderName %></p>

            <table class="table">
              <tr>
                <td>Last Practiced</td>
                <td>On <%= lastPracticed %> for <%= lastPracticeTime %> seconds</td>
              </tr>
              <tr>
                <td>All time</td>
                <td><%= totalPracticeTime %> seconds</td>
              </tr>
            </table>
          </div> <!-- end well -->    
        </div> <!-- end col-md-12 -->
      </div> <!-- end row -->

      <hr>

      <!-- New exercise Button with modal definition -->

      <div class="row">
        <div class="col-md-2">
          <a href="#newExerciseInFolderModal" role="button" class="btn btn-info btn-block" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Exercise</a>

          <!-- The Modal view on clicking 'New Exercise' button -->
          <div class="modal fade" id="newExerciseInFolderModal">

            <div class="modal-dialog modal-md">
              <div class="modal-content">

                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">New exercise in <%= folderName %></h4>
                </div><!-- end modal-header -->

                <div class="modal-body">
                  <form action="/folder" method="post" class="form-horizontal">
                    <input type="hidden" name="folderName" value="<%= folderName %>" > 
                    <input type="hidden" name="folderId" value="<%= folderId %>" > 

                    <div class="form-group">
                      <label class="col-md-3 control-label" for="exerciseInFolderName">Exercise Name</label>
                      <div class="col-md-9">
                        <input class="form-control" name="exerciseInFolderName" placeholder="Exercise Name" type="text">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 control-label" for="exerciseInFolderNotes">Notes</label>
                      <div class="col-md-9">
                        <textarea class="form-control" name="exerciseInFolderNotes" placeholder="Notes about the exercise." rows="3"></textarea>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button class="btn btn-default" data-dismiss="modal" type="button">Close</button> <button class="btn btn-info pull-right" type="submit">Create!</button>
                    </div> <!-- end modal-footer -->
                  </form>
                </div>

              </div><!-- end modal-content -->
            </div><!-- end modal-dialog -->
          </div><!-- end New Exercise Modal -->
        </div><!-- end col-md-12 -->
      </div><!-- end row -->
      
      <hr>

      <!-- Folder exercises list view + Folder Analytics -->

      <div class="row top20" id="homePageContent">

        <!-- List folder exercises -->

        <div class="col-md-6">
          <div class="list-group">

            <!-- Process the results passed by the route -->
            <% if (locals.exercises) { %>
              <% exercises.forEach(function(eachExercise) {%>
                <a href="/exercise/<%= eachExercise._id%>" class="list-group-item">
                  <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-music"></span>&nbsp;&nbsp;&nbsp;<%= eachExercise.name %></h4>
                </a>
              <% }); %>
            <% } %>
         
          </div><!-- list-group -->
        </div><!-- end col-md-6 -->

        <!-- Show last week history -->

        <div class="col-md-6" id="folder-analytics-time">
          <p class="lead" align="center">Time practiced</p>
        </div>
      </div>

      <hr>

    <!-- Load Javascript files (end of body far faster page load) -->

    <% include scripts-ext %>
    <script src="/javascripts/d3/d3.min.js"></script>

    <script type="text/javascript">
      
      //Width, height and paddings

      var w = 400;
      var h = 250;
      var textPadding = Math.round(h / 10);
      var xAxisTextPadding = Math.round(h / 10);
      var barPadding = 1;
      var datasetTime = [];

      var pastWeekHistory = <%- JSON.stringify(lastWeekHistory) %>;

      if (pastWeekHistory.length > 0) {
        for (var i = (pastWeekHistory.length - 1); i >= 0; i--) {


          datasetTime[(pastWeekHistory.length - 1) - i] = { 
            practiceTime: parseInt(pastWeekHistory[i].practiceTime),
            shortDateString: pastWeekHistory[i].shortDateString
          }
        }

        console.log("DATASET TIME: %s", JSON.stringify(datasetTime));

        var yScaleTime = d3.scale.linear()
                              .domain([0, d3.max(datasetTime, function(d) {
                                return d.practiceTime;
                              })])
                              .range([0, h - (textPadding + xAxisTextPadding) ]);

        var colorScaleTime = d3.scale.linear()
                            .domain([0, d3.max(datasetTime, function(d) {
                              return d.practiceTime;
                            })])
                            .range([50, 200]);

        var colorScaleDarkerTime = d3.scale.linear()
                                .domain([0, d3.max(datasetTime, function(d) {
                                  return d.practiceTime;
                                })])
                                .range([1, 0.1]);
        
        //Create SVG element

        var svgTime = d3.select("#folder-analytics-time")
              .append("svg")
              .attr("width", w)
              .attr("height", h); 

        // SVG for past BPMs

        svgTime.selectAll("rect")
           .data(datasetTime)
           .enter()
           .append("rect")
           .attr("x", function(d, i) {
              console.log("OK D: %s", d.practiceTime);
              return i * (w / datasetTime.length);
           })
           .attr("y", function(d) {
              return h - (xAxisTextPadding + yScaleTime(d.practiceTime));
           })
           .attr("width", w / datasetTime.length - barPadding)
           .attr("height", function(d) {
              return yScaleTime(d.practiceTime);
           })
          .style("fill", function(d){ 
            return d3.rgb(0, Math.round(colorScaleTime(d.practiceTime)), 100).darker( colorScaleDarkerTime(d.practiceTime) );
          })
         .style("opacity", 0.75);

        svgTime.selectAll("text.value")
           .data(datasetTime)
           .enter()
           .append("text")
           .text(function(d) {
              return d.practiceTime;
           })
           .attr("text-anchor", "middle")
           .attr("x", function(d, i) {
              return i * (w / datasetTime.length) + (w / datasetTime.length - barPadding) / 2;
           })
           .attr("y", function(d) {
              return ( h - (xAxisTextPadding + yScaleTime(d.practiceTime)) - (textPadding / 2));
           })
           .attr("font-family", "sans-serif")
           .attr("font-size", "11px")
           .attr("fill", "black");

        svgTime.selectAll("text.day")
           .data(datasetTime)
           .enter()
           .append("text")
           .text(function(d, i) {
              return d.shortDateString;
           })
           .attr("text-anchor", "middle")
           .attr("x", function(d, i) {
              return i * (w / datasetTime.length) + (w / datasetTime.length - barPadding) / 2;
           })
           .attr("y", function(d) {
              return ( h - (xAxisTextPadding / 3) );
           })
           .attr("font-family", "sans-serif")
           .attr("font-size", "11px")
           .attr("fill", "black");
      }
    </script>
    <script src="/javascripts/global.js"></script>
  </body>
</html>