<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <h2>Welcome <%= user.firstName %>!</h2>
      
      <hr>

      <% if (locals.errorMsg !== 'undefined') {%>
        <p><%= errorMsg %></p>
      <% } %>

      <div class="row" id="homeBreadCrumb" >
        <ol class="breadcrumb">
          <li><a href="/home">Home</a></li>
        </ol>
      </div>

      <!-- Create new exercise, folder or stack -->
        
      <div class="row" id="create-actions">
          
        <!-- Create new exercise. -->
          
        <div class="col-md-2">
          <a href="#newExerciseModal" role="button" data-toggle="modal" class="btn btn-block btn-danger">New exercise</a>

          <!-- Modal definition for New exercise button click -->
            
          <div class="modal fade" id="newExerciseModal">

            <div class="modal-dialog modal-md">
              <div class="modal-content">

                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Create a new exercise</h4>
                </div><!-- end modal-header -->

                <div class="modal-body">
                  <form action="/createexercise" method="post" class="form-horizontal">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <input type="hidden" name="folderName" value="root" > 
                    <div class="form-group">
                      <label class="col-md-3 control-label" for="exerciseName">Exercise Name</label>
                      <div class="col-md-9">
                        <input class="form-control" id="exerciseName" name="exerciseName" placeholder="ExerciseName" type="text">
                        <hr>
                        <button class="btn btn-info pull-right" type="submit">Create!</button>
                      </div>
                    </div>
                  </form>
                </div>  

              </div>
            </div>
          </div><!-- end New Exercise Modal -->
            
        </div><!-- end col-sm-2 -->

        <div class="col-md-2">
          <a href="#newFolderModal" role="button" data-toggle="modal" class="btn btn-block btn-info">New Folder</a>

          <div class="modal fade" id="newFolderModal">

            <div class="modal-dialog modal-md">
              <div class="modal-content">

                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Create a new folder</h4>
                </div><!-- end modal-header -->

                <div class="modal-body">
                  <form action="/createfolder" method="post" class="form-horizontal">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <input type="hidden" name="stackName" value="root" > 
                    <div class="form-group">
                      <label class="col-md-3 control-label" for="folderName">Folder Name</label>
                      <div class="col-md-9">
                        <input class="form-control" id="folderName" name="folderName" placeholder="Folder Name" type="text">
                        <hr>
                        <button class="btn btn-info pull-right" type="submit">Create!</button>
                      </div>
                    </div>
                  </form>
                </div>  

              </div>
            </div>
          </div><!-- end New Exercise Modal -->

        </div><!-- end col-sm-2 -->

        <div class="col-md-2">
          <a href="#newStackModal" target="_blank" class="btn btn-block btn-warning">New Stack</a>
        </div><!-- end col-sm-2 -->

      </div><!-- end row -->

      <div class="row" id="homePageHeading">
        <div class="col-6-md">
          <h3>Your exercises</h3>
        </div><!-- end col-12 -->
      </div><!-- end homePageHeading -->

      <div class="row" id="homePageContent">
        <div class="col-sm-6">
          <div class="list-group">

            <!-- Process the results passed by the route -->
            <% if (locals.result) { %>
              <% result.forEach(function(eachExercise) {%>

                <!-- If the entry is of type folder, display a folder glyphicon -->
                <% if (eachExercise.entryType === 'folder') { %>
                  <a href="/folder/<%= eachExercise._id%>" id="folderEntry" class="list-group-item">
                    <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;&nbsp;<%= eachExercise.name %></h4>
                  </a>
                <% } %>

                <!-- If the entry is of type exercise, display a music glyphicon -->
                <% if (eachExercise.entryType === 'exercise') { %>
                  <a href="/exercise/<%= eachExercise._id%>" class="list-group-item">
                    <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-music"></span>&nbsp;&nbsp;&nbsp;<%= eachExercise.name %></h4>
                  </a>
                <% } %>

              <% }); %>
            <% } %>
         
          </div><!-- list-group -->
        </div><!-- end col-sm-6 -->
      </div><!-- end row -->
    </div>

    <% include scripts-ext %>
    <script src="javascripts/global.js"></script>
  </body>
</html>